html(lang = 'en')
  head 
    title UrPlace
    meta(charset = 'UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css")
    link(rel="stylesheet" href="feed.css" type="text/css")
  body
  main
    nav#user-nav
        ul
            li: a(href="") Profile
            li.nav--current: a(href="http://localhost:3000/feed") Home
            li: a(href="http://localhost:3000/resources") Resources

    section#user-feed
        h1.home-header Welcome
    section#img-container
        img(src="images/home-heart.png", alt="person with blue heart on chest").home-image
    main#mission-statement
        p.home-mission
        |Our mission here at UrPlace is to inspire a healthier world for all. 
        |UrPlace provides resources for those in need of basic neccesities including a place to stay, a meal, and clothing.
        |We do this by providing a kiosk in town. This kiosk shows where our resources can be located and what you may need to do to access them.
        |We hope to be a light for those going through a dark time.

  h2.home-header2 Services

.resources-links
  a(class='button' href='//google.com') Food <br> Bank
  a(class='button' href='//google.com') Mental <br> Health
  a(class='button' href='//google.com') Shelter
  a(class='button' href='//google.com') Clothing

