doctype html
html(lang = 'en')
  head 
    title choose
    meta(charset = 'UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css")
    link(rel="stylesheet" href="home.css" type="text/css")
  body
    #main 
      h1 UrPlace
      br
      H2 NYC
       img(src="", alt="")
    .aboxflex
    div.login
       a(href="#").button-primary Login
        div.signup
        a(href="#").button-secondary Sign up
    a(href="#").button-Guest Guest Login
    #img
   