doctype html
html(lang = 'en')
  head 
    title Maps
    meta(charset = 'UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css")
    link(rel="stylesheet" href="style.css" type="text/css")
  body
    #main 
      h1.index-header-text Welcome To UrPlace NYC Kiosk
      .helping-hand
        img(src="images/helping-hand.png", alt="Helping Hand").helping__hand__image
      a(href="#").helping-btn Get Started
    #desktop
      h1 Please Download On Moblie