doctype html
html(lang = 'en')
  head 
    title Welcome
    meta(charset = 'UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css")
    link(rel="stylesheet" href="style.css" type="text/css")
  body
    #main 
      h1.index-header-text Welcome To UrPlace NYC Kiosk
      .helping-hand
        img(src="images/helping-hand.png", alt="Helping Hand").helping__hand__image
      a(href="http://localhost:3000/feed").helping-btn Get Started
    
    #desktop
      h1.desktop-title Now Open At Grand Central Terminal In New York
      h3 Please Vist Our First Kiosk Location 
      .desktop-container
        img(src="../images/photo-shop-image.jpg", alt="image").desktop-image

      script(src="index.js")