html(lang = 'en')
  head 
    title UrPlace
    meta(charset = 'UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css")
    link(rel="stylesheet" href="../resources.css" type="text/css")
  body
  main#main
    a(href="http://localhost:3000/")
      img(src="../images/home-svg.png", alt="").main-btn
    nav#user-nav
        ul
            li: a(href="http://localhost:3000/home") Profile
            li.nav--current: a(href="http://localhost:3000/feed") Home
            li: a(href="http://localhost:3000/resources") Resources

    section#resources
      h1.resources-title Resources
      #resources-container
        img(src="../images/mind-iamge.png", alt="animated Cartoons").resources-images
      h2.resources-h2-text Nearest Mental Health Office
      p.resources-p-text “Do not judge my story by the chapter you walked in on.” - Anonymous
      #carousel__wrapper
        a(href="http://localhost:3000/resources")
          .object-container.get-started-container(data-btn='get started')
            h3.object-container-text Get Started 
      
        a(href="http://localhost:3000/resources/shelter")
          .object-container.shelter-container(data-btn='shelter')
            h3.object-container-text Shelter 
            img(src="../images/shelter-imge.png", alt="shelter").object-image 
        a(href="http://localhost:3000/resources/foodbanks")
          .object-container.food-bank-container(data-btn='food banks')
            h3.object-container-text Food Banks 
            img(src="../images/Food_Bank_icon.svg.png", alt="shelter").object-image 
        a(href="http://localhost:3000/resources/mentalhealth")
          .object-container.mental-health-container(data-btn='mental health').active-container
            h3.object-container-text Mental Health
            img(src="../images/mental_health.png", alt="shelter").object-image
        a(href="http://localhost:3000/resources/clothes")
          .object-container.clothing-container(data-btn='clothing')
            h3.object-container-text Clothing 
            img(src="../images/Food_Bank_icon.svg.png", alt="shelter").object-image
    #mental
  #desktop
      h1.desktop-title Now Open At Grand Central Terminal In New York
      h3 Please Vist Our First Kiosk Location, Or Shrink Browser Width.
      .desktop-container
        img(src="../images/photo-shop-image.jpg", alt="image").desktop-image


  script(src="../mental.js")