html(lang = 'en')
  head 
    title login
    meta(charset = 'UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="text/css")
    link(rel="stylesheet" href="login.css" type="text/css")
  body
    #loginhead
      h1 Login
    #form
      h2 Username
      input(textarea)
      br
      h2 Password
      input(textarea)
    #why
    a(href="#").login Log In
  #img

