*{
    margin: 0px;
    padding: 0px;
}
#main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}



@media screen and (min-width: 700px) { 
    #main{
        display: none;
    }
}
